.about{
    display:flex;
    margin:100px auto;
    align-items:center;
    justify-content:space-between;
    width:90%;
    /* border:2px solid black; */
}

.about-right{
    flex-basis:40%;
    /* border:2px solid black; */
    position: relative;
}
.about-left{
    flex-basis:56%;
}
.about-right img{
    width:100%;
}
.about-right img:nth-child(2){
    position: absolute;
    top:50%;
    left:50%;
    width:60px;
    transform: translate(-50% -50%);
}

.about-left h3{
    font-weight:600;
    line-height:2rem;
    color:#212EA0;
    margin-bottom:20px;
}
.about-left h2{
    font-size:35px;
    font-weight:600;
    max-width:400px;
    margin-bottom:10px;
}
.about-left p{
    line-height:1.5rem;
    margin-bottom:15px;
    text-align: justify;
}